<div *ngIf="pensamento.modelo == 'modelo1'" class="pensamento modelo1 ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="../../../../assets/imagens-angular/Imagens-do-curso/modelo1.png" alt="">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento.autor }}</b></p>
    <div class="acoes">
        <button class="buttom-editar">
            <img src="../../../../assets/imagens-angular/Imagens-do-curso/icone-editar.png" alt="">
        </button>
        <button class="buttom-excluir">
            <img src="../../../../assets/imagens-angular/Imagens-do-curso/icone-excluir.png" alt="">
        </button>
    </div>
</div>

<div *ngIf="pensamento.modelo == 'modelo2'" class="pensamento modelo2 ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="../../../../assets/imagens-angular/Imagens-do-curso/modelo2.png" alt="">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento.autor }}</b></p>
    <div class="acoes">
        <button class="buttom-editar">
            <img src="../../../../assets/imagens-angular/Imagens-do-curso/icone-editar.png" alt="">
        </button>
        <button class="buttom-excluir">
            <img src="../../../../assets/imagens-angular/Imagens-do-curso/icone-excluir.png" alt="">
        </button>
    </div>
</div>

<div *ngIf="pensamento.modelo == 'modelo3'" class="pensamento modelo3 ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="../../../../assets/imagens-angular/Imagens-do-curso/modelo3.png" alt="">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento.autor }}</b></p>
    <div class="acoes">
        <button class="buttom-editar">
            <img src="../../../../assets/imagens-angular/Imagens-do-curso/icone-editar.png" alt="">
        </button>
        <button class="buttom-excluir">
            <img src="../../../../assets/imagens-angular/Imagens-do-curso/icone-excluir.png" alt="">
        </button>
    </div>
</div>